{
	"root": true,
	"plugins": [
		"eslint-plugin",
		"import",
		"prettier"
	],
	"env": {
		"es6": true,
		"node": true,
		"mocha": true,
		"commonjs": true,
		"es2021": true
	},
	"parserOptions": {
		"ecmaVersion": 12
	},
	"extends": [
		"airbnb-base"
	],
	"rules": {
		"prettier/prettier": [
			"warn",
			{
				"arrowParens": "always",
				"bracketSpacing": true,
				"endOfLine": "lf",
				"htmlWhitespaceSensitivity": "css",
				"insertPragma": false,
				"jsxSingleQuote": false,
				"printWidth": 80,
				"proseWrap": "preserve",
				"quoteProps": "as-needed",
				"requirePragma": false,
				"semi": true,
				"singleQuote": true,
				"tabWidth": 4,
				"trailingComma": "all",
				"useTabs": true,
				"vueIndentScriptAndStyle": false
			}
		],
		// eslint-recommended
		"constructor-super": "off",
		"getter-return": "off",
		"no-const-assign": "off",
		"no-dupe-args": "off",
		"no-dupe-class-members": "off",
		"no-dupe-keys": "off",
		"no-func-assign": "off",
		"no-import-assign": "off",
		"no-new-symbol": "off",
		"no-obj-calls": "off",
		"no-redeclare": "off",
		"no-setter-return": "off",
		"no-this-before-super": "off",
		"no-undef": "off",
		"no-unreachable": "off",
		"no-unsafe-negation": "off",
		"no-var": "warn",
		"prefer-const": "warn",
		"prefer-rest-params": "warn",
		"prefer-spread": "warn",
		"valid-typeof": "off",
		// recommended
		"no-array-constructor": "warn",
		"no-empty-function": "off",
		"no-extra-semi": "warn",
		"no-unused-vars": "off",
		// recommended-requiring-type-checking
		"require-await": "warn",
		// all other
		"brace-style": "off",
		"comma-dangle": [
			"warn",
			{
				"arrays": "always-multiline",
				"objects": "always-multiline",
				"imports": "always-multiline",
				"exports": "always-multiline",
				"functions": "always-multiline"
			}
		],
		"comma-spacing": "warn",
		"default-param-last": "warn",
		"dot-notation": "warn",
		"func-call-spacing": "warn",
		"indent": [
			"off",
			"tab"
		],
		"init-declarations": "off",
		"keyword-spacing": "warn",
		"lines-between-class-members": "off",
		"no-duplicate-imports": "warn",
		"no-extra-parens": [
			"warn",
			"all",
			{
				"nestedBinaryExpressions": false
			}
		],
		"no-invalid-this": "warn",
		"no-loop-func": "warn",
		"no-loss-of-precision": "warn",
		"no-magic-numbers": [
			"warn",
			{
				"ignore": [
					0,
					1,
					2
				]
			}
		],
		"no-shadow": "warn",
		"no-unused-expressions": [
			"warn",
			{
				"allowShortCircuit": true,
				"allowTernary": true
			}
		],
		"no-use-before-define": [
			"warn",
			{
				"functions": false
			}
		],
		"no-useless-constructor": "off",
		"quotes": [
			"warn",
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		],
		"no-return-await": "warn",
		"semi": "warn",
		"space-before-function-paren": [
			"warn",
			{
				"anonymous": "always",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"space-infix-ops": "warn",
		// all other from eslint
		"accessor-pairs": "warn",
		"array-bracket-newline": [
			"warn",
			"consistent"
		],
		"array-bracket-spacing": "warn",
		"array-callback-return": "warn",
		"array-element-newline": "off",
		"arrow-body-style": "warn",
		"arrow-parens": "warn",
		"arrow-spacing": "warn",
		"block-scoped-var": "warn",
		"block-spacing": "warn",
		"callback-return": "warn",
		"camelcase": "off",
		"capitalized-comments": "off",
		"class-methods-use-this": "off",
		"comma-style": "warn",
		"complexity": "off",
		"computed-property-spacing": "warn",
		"consistent-return": "warn",
		"consistent-this": "warn",
		"curly": "warn",
		"default-case": "warn",
		"default-case-last": "warn",
		"dot-location": [
			"warn",
			"property"
		],
		"eol-last": "warn",
		"eqeqeq": "warn",
		"for-direction": "warn",
		"func-name-matching": "warn",
		"func-names": "warn",
		"func-style": "off",
		"function-call-argument-newline": "off",
		"function-paren-newline": "off",
		"generator-star-spacing": "warn",
		"global-require": "warn",
		"grouped-accessor-pairs": "warn",
		"guard-for-in": "warn",
		"handle-callback-err": "warn",
		"id-blacklist": "warn",
		"id-denylist": "warn",
		"id-length": "warn",
		"id-match": "warn",
		"implicit-arrow-linebreak": "off",
		"indent-legacy": "off",
		"jsx-quotes": "warn",
		"key-spacing": "warn",
		"line-comment-position": "warn",
		"linebreak-style": "warn",
		"lines-around-comment": "off",
		"lines-around-directive": "warn",
		"max-classes-per-file": "off",
		"max-depth": "warn",
		"max-len": [
			"warn",
			{
				"code": 80,
				"tabWidth": 4,
				// "comments": 1000,
				// "ignorePattern": "//",
				"ignorePattern": "private|protected|public|await|^\\s+[\\w\\.]+\\($",
				"ignoreComments": true,
				"ignoreStrings": true,
				"ignoreUrls": true,
				"ignoreTemplateLiterals": false,
				"ignoreRegExpLiterals": false,
				"ignoreTrailingComments": false
			}
		],
		"max-lines": "off",
		"max-lines-per-function": "off",
		"max-nested-callbacks": "warn",
		"max-params": "off",
		"max-statements": "off",
		"max-statements-per-line": "off",
		"multiline-comment-style": "off",
		"multiline-ternary": "off",
		"new-cap": "off",
		"new-parens": "warn",
		"newline-after-var": "off",
		"newline-before-return": "warn",
		"newline-per-chained-call": "warn",
		"no-alert": "warn",
		"no-async-promise-executor": "warn",
		"no-await-in-loop": "warn",
		"no-bitwise": "warn",
		"no-buffer-constructor": "warn",
		"no-caller": "warn",
		"no-case-declarations": "warn",
		"no-catch-shadow": "warn",
		"no-class-assign": "warn",
		"no-compare-neg-zero": "warn",
		"no-cond-assign": "warn",
		"no-confusing-arrow": "off",
		"no-console": "off",
		"no-constant-condition": "warn",
		"no-constructor-return": "warn",
		"no-continue": "off",
		"no-control-regex": "warn",
		"no-debugger": "warn",
		"no-delete-var": "warn",
		"no-div-regex": "warn",
		"no-dupe-else-if": "warn",
		"no-duplicate-case": "warn",
		"no-else-return": "warn",
		"no-empty": "warn",
		"no-empty-character-class": "warn",
		"no-empty-pattern": "warn",
		"no-eq-null": "warn",
		"no-eval": "warn",
		"no-ex-assign": "warn",
		"no-extend-native": "warn",
		"no-extra-bind": "warn",
		"no-extra-boolean-cast": "warn",
		"no-extra-label": "warn",
		"no-fallthrough": "warn",
		"no-floating-decimal": "warn",
		"no-global-assign": "warn",
		"no-implicit-coercion": "warn",
		"no-implicit-globals": "warn",
		"no-implied-eval": "warn",
		"no-inline-comments": "warn",
		"no-inner-declarations": "warn",
		"no-invalid-regexp": "warn",
		"no-irregular-whitespace": "warn",
		"no-iterator": "warn",
		"no-label-var": "warn",
		"no-labels": "warn",
		"no-lone-blocks": "warn",
		"no-lonely-if": "warn",
		"no-misleading-character-class": "warn",
		"no-mixed-operators": "off",
		"no-mixed-requires": "warn",
		"no-mixed-spaces-and-tabs": "off",
		"no-multi-assign": "warn",
		"no-multi-spaces": "warn",
		"no-multi-str": "warn",
		"no-multiple-empty-lines": [
			"warn",
			{
				"max": 1,
				"maxBOF": 0,
				"maxEOF": 1
			}
		],
		"no-native-reassign": "warn",
		"no-negated-condition": "warn",
		"no-negated-in-lhs": "warn",
		"no-nested-ternary": "off",
		"no-new": "warn",
		"no-new-func": "warn",
		"no-new-object": "warn",
		"no-new-require": "warn",
		"no-new-wrappers": "warn",
		"no-octal": "warn",
		"no-octal-escape": "warn",
		"no-param-reassign": "warn",
		"no-path-concat": "warn",
		"no-plusplus": "off",
		"no-process-env": "off",
		"no-process-exit": "off",
		"no-promise-executor-return": "warn",
		"no-proto": "warn",
		"no-prototype-builtins": "warn",
		"no-regex-spaces": "warn",
		"no-restricted-exports": "warn",
		"no-restricted-globals": "warn",
		"no-restricted-imports": "warn",
		"no-restricted-modules": "warn",
		"no-restricted-properties": "warn",
		"no-restricted-syntax": "warn",
		"no-return-assign": "warn",
		"no-script-url": "warn",
		"no-self-assign": "warn",
		"no-self-compare": "warn",
		"no-sequences": "warn",
		"no-shadow-restricted-names": "warn",
		"no-spaced-func": "warn",
		"no-sparse-arrays": "warn",
		"no-sync": "warn",
		"no-tabs": "off",
		"no-template-curly-in-string": "warn",
		"no-ternary": "off",
		"no-throw-literal": "warn",
		"no-trailing-spaces": "warn",
		"no-undef-init": "warn",
		"no-undefined": "off",
		"no-underscore-dangle": "warn",
		"no-unexpected-multiline": "warn",
		"no-unmodified-loop-condition": "warn",
		"no-unneeded-ternary": "warn",
		"no-unreachable-loop": "warn",
		"no-unsafe-finally": "warn",
		"no-unused-labels": "warn",
		"no-useless-backreference": "warn",
		"no-useless-call": "warn",
		"no-useless-catch": "warn",
		"no-useless-computed-key": "warn",
		"no-useless-concat": "warn",
		"no-useless-escape": "warn",
		"no-useless-rename": "warn",
		"no-useless-return": "warn",
		"no-void": [
			"warn",
			{
				"allowAsStatement": true
			}
		],
		"no-warning-comments": "warn",
		"no-whitespace-before-property": "warn",
		"no-with": "warn",
		"nonblock-statement-body-position": "warn",
		"object-curly-newline": "warn",
		"object-curly-spacing": "off",
		"object-property-newline": "off",
		"object-shorthand": "warn",
		"one-var": "off",
		"one-var-declaration-per-line": "off",
		"operator-assignment": "warn",
		"operator-linebreak": "off",
		"padded-blocks": "off",
		"padding-line-between-statements": "warn",
		"prefer-arrow-callback": "warn",
		"prefer-destructuring": [
			"warn",
			{
				"object": true,
				"array": false
			}
		],
		"prefer-exponentiation-operator": "warn",
		"prefer-named-capture-group": "off",
		"prefer-numeric-literals": "warn",
		"prefer-object-spread": "warn",
		"prefer-promise-reject-errors": "warn",
		"prefer-reflect": "off",
		"prefer-regex-literals": "warn",
		"prefer-template": "off",
		"quote-props": "off",
		"radix": "warn",
		"require-atomic-updates": "warn",
		"require-jsdoc": "off",
		"require-unicode-regexp": "warn",
		"require-yield": "warn",
		"rest-spread-spacing": "warn",
		"semi-spacing": "warn",
		"semi-style": "warn",
		"sort-imports": [
			"warn",
			{
				"ignoreCase": false,
				"ignoreDeclarationSort": true,
				"ignoreMemberSort": false,
				"memberSyntaxSortOrder": [
					"none",
					"all",
					"multiple",
					"single"
				],
				"allowSeparatedGroups": false
			}
		],
		"sort-keys": "off",
		"sort-vars": "warn",
		"space-before-blocks": "warn",
		"space-in-parens": "warn",
		"space-unary-ops": "warn",
		"spaced-comment": "warn",
		"strict": "warn",
		"switch-colon-spacing": "warn",
		"symbol-description": "warn",
		"template-curly-spacing": "warn",
		"template-tag-spacing": "warn",
		"unicode-bom": "warn",
		"use-isnan": "warn",
		"valid-jsdoc": "off",
		"vars-on-top": "warn",
		"wrap-iife": "warn",
		"wrap-regex": "off",
		"yield-star-spacing": "warn",
		"yoda": "warn",
		// eslint-plugin
		"eslint-plugin/consistent-output": "warn",
		"eslint-plugin/fixer-return": "warn",
		"eslint-plugin/meta-property-ordering": "warn",
		"eslint-plugin/no-deprecated-context-methods": "warn",
		"eslint-plugin/no-deprecated-report-api": "warn",
		"eslint-plugin/no-identical-tests": "warn",
		"eslint-plugin/no-missing-placeholders": "warn",
		"eslint-plugin/no-unused-placeholders": "warn",
		"eslint-plugin/no-useless-token-range": "warn",
		"eslint-plugin/prefer-object-rule": "warn",
		"eslint-plugin/prefer-output-null": "warn",
		"eslint-plugin/prefer-placeholders": "warn",
		"eslint-plugin/prefer-replace-text": "warn",
		"eslint-plugin/report-message-format": "warn",
		"eslint-plugin/require-meta-docs-description": "warn",
		"eslint-plugin/require-meta-docs-url": "warn",
		"eslint-plugin/require-meta-fixable": "warn",
		"eslint-plugin/require-meta-schema": "warn",
		"eslint-plugin/require-meta-type": "warn",
		"eslint-plugin/test-case-property-ordering": "warn",
		"eslint-plugin/test-case-shorthand-strings": "warn",
		// eslint-plugin-import
		"import/no-unresolved": "off",
		"import/named": "warn",
		"import/default": "warn",
		"import/namespace": "warn",
		"import/no-namespace": "off",
		"import/export": "warn",
		"import/no-mutable-exports": "warn",
		"import/extensions": "off",
		"import/no-restricted-paths": "warn",
		"import/no-internal-modules": "off",
		"import/group-exports": "off",
		"import/no-relative-parent-imports": "warn",
		"import/no-self-import": "warn",
		"import/no-cycle": "warn",
		"import/no-named-default": "warn",
		"import/no-named-as-default": "warn",
		"import/no-named-as-default-member": "warn",
		"import/no-anonymous-default-export": "warn",
		"import/no-unused-modules": "off",
		"import/no-commonjs": "off",
		"import/no-amd": "warn",
		"import/no-duplicates": "warn",
		"import/first": "warn",
		"import/max-dependencies": "off",
		"import/no-extraneous-dependencies": "warn",
		"import/no-absolute-path": "warn",
		"import/no-nodejs-modules": "off",
		"import/no-webpack-loader-syntax": "warn",
		"import/order": [
			"warn",
			{
				"newlines-between": "always",
				"groups": [
					"builtin",
					"external",
					"internal",
					"parent",
					"sibling",
					"index",
					"object"
				],
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": false
				}
			}
		],
		"import/newline-after-import": "warn",
		"import/prefer-default-export": "off",
		"import/no-default-export": "warn",
		"import/no-named-export": "off",
		"import/no-dynamic-require": "warn",
		"import/unambiguous": "off",
		"import/no-unassigned-import": "warn",
		"import/no-useless-path-segments": "warn",
		"import/dynamic-import-chunkname": "warn",
		"import/exports-last": "off",
		"import/no-deprecated": "warn",
		"import/imports-first": "warn"
	}
}
